.center-container {
  display: flex;
  justify-content: center;   /* จัดแนวนอนให้ตรงกลาง */
  align-items: center;       /* จัดแนวตั้งให้ตรงกลาง */
  height: 100vh;
  border: 1px solid black;             /* ความสูงเต็มหน้าจอ */
}

